<div class="well">
  <h1>Add Your <br>Contact Here</h1>
</div>
<div class="well">
  <form action="contacts-new" method="post">
    <div class="form-group">
      <label for="contact-name">Contact Name : </label>
      <input class="form-control" type="text" id="contact-name" name="contact-name">
    </div>
    <div class="form-group">
      <label for="contact-phone-number">PhoneNumber : </label>
      <input class="form-control" type="text" id="contact-phone-number" name="contact-phone-number">
    </div>
    <div class="form-group">
      <label for="contact-address">Address : </label>
      <input class="form-control" type="text" id="contact-address" name="contact-address">
    </div>
    <button type="submit" class="btn">Add Contact</button>
  </form>
</div>
