@{
Layout="Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h3>You've Deleted your Contact!</h3>
  <form action="/" method="get">
    <button type="submit">Okay! Take me back!</button>
  </form>
</div>
