@{
Layout="Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h3>You've Deleted All your Contacts!</h3>
  <form action="/" method="get">
    <button type="submit" class="btn">Okay! Take me back!</button>
  </form>
</div>
