@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Here are the available contacts:</h1>

@foreach(var Contact in @Model)
{
    <div class="well">
        <div class="form-group">
        <p>Model: @Contact.GetName() </p>
        <p>Mileage: @Contact.GetPhoneNumber() </p>
        <p>Interior Color: @Contact.GetAddress() </p>
        <form action="contacts-clear" method="post">
            <button name="delete-button" type="submit" value=@Contact.GetId()>Delete!</button>
        </form>
        </div>
    </div>
}
