@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Here are the available contacts:</h1>

@foreach(var Contact in @Model)
{
  <div class="well">
    <div class="">
    <p>Name: @Contact.GetName() </p>
    <form action="/contacts-view/@Contact.GetId()" method="get">
      <button name="view-button" class="btn" type="submit">View!</button>
    </form>
    <form action="contacts-clear" method="post">
      <button name="delete-button" class="btn" type="submit" value=@Contact.GetId()>Delete!</button>
    </form>
    </div>
  </div>
}

<form action="contacts-clear-all" method="post">
  <button name="delete-button" class="btn" type="submit" value="all">Delete All!</button>
</form>
